.main_div {
    padding: 20px;
    min-height: calc(100vh - 200px);
    overflow: auto;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
}

@media screen and (max-width: 430px) {
    .main_div {
        padding: 10px 10px 8vh 10px !important;
        margin: 0 !important;
        min-height: 100vh !important;
        height: auto !important;
        overflow: auto !important;
        background-color: #f8f8ff;
        box-sizing: border-box;
    }
}