.footer_div {
  border-top: 1px solid gainsboro;
  background-color: #ffffff;
  height: 20px;
  padding: 20px;
  margin-bottom: 70px;
}

.footer_info {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.footer_info_title {
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 15px;
}

.footer_info p {
  color: gray;
  margin-bottom: 5px;
  font-size: 14px;
}

@media screen and (max-width: 430px) {
  .footer_div {
    display: none;
  }
}
