.uploadButtonBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.uploadButton {
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 65px;
    height: 33px;
    background-color: rgb(232, 222, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 400;
    line-height: 175%;
    cursor: pointer;
}

.uploadButton-disable {
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 65px;
    height: 33px;
    background-color: rgb(210, 210, 210);
    color: rgb(114, 114, 114);
    font-size: 15px;
    font-weight: 400;
    line-height: 175%;
    cursor: default;
}

.uploadButton:hover {
    background-color: rgb(212, 194, 255);
}

.custom-editor .ck-editor__editable_inline {
    min-height: 700px;
}

.titleRow {
    display: flex;
    gap: 10px;
    align-items: center;
}

.inputTag {
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex: 1;

    appearance: none; /* 기본 화살표 숨김 */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 140 140' width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='30,50 70,90 110,50' stroke='%23000' stroke-width='20' fill='none' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 28px;
}

.inputTitle {
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex: 7;
}